   body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 0;
    }

    /* Estilos para o formulário de cadastro */
    .cadastro-container {
      width: 400px;
      margin: 50px auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .cadastro-container h2 {
      text-align: center;
    }

    .cadastro-container label {
      display: block;
      margin-top: 30px;
    }

    .cadastro-container input[type="text"],
    .cadastro-container input[type="email"],
    .cadastro-container input[type="password"] {
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      border-radius: 3px;
      border: 1px solid #ccc;
    }

    .cadastro-container input[type="submit"] {
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      background-color: #7f4caf;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }

    .cadastro-container input[type="submit"]:hover {
      background-color: #45a049;
    }
